<div>
  <div class="menu-hover">
    <a href="#">
      <h1>Season</h1>
    </a>
  </div>
  <div class="menu-hover">
    <a href="#">
      <h1 class="trigger">Collection's</h1>
    </a>
  </div>
  <div class="menu-hover">
    <a href="#">
      <h1>My account</h1>
    </a>
  </div>
</div>

<div>
  <a href="#"><h2 id="sub1" class="hidden-h2 animated bounceInLeft">For me</h2></a>
  <a href="#"><h2 id="sub2" class="hidden-h2 animated bounceInRight">Furry friend</h2></a>
  <a href="#"><h2 id="sub3" class="hidden-h2 animated bounceInLeft">Ambient</h2></a>
  <a href="#"><h2 id="sub4" class="hidden-h2 animated bounceInRight">Home</h2></a>
  <a href="#"><h2 id="sub5" class="hidden-h2 animated bounceInLeft">DustOnLens</h2></a>
  <a href="#"><h2 id="sub6" class="hidden-h2 animated bounceInRight">Tilbehöör</h2></a>
  <a href="#"><h2 id="sub7" class="hidden-h2 animated bounceInLeft">Coolio</h2></a>
  <a href="#"><h2 id="sub8" class="hidden-h2 animated bounceInRight">?Mystery?</h2></a>
</div>
