/* animations */
#sub1 {
  animation-delay: 0s;
}

#sub2 {
  animation-delay: 0.1s;
}

#sub3 {
  animation-delay: 0.2s;
}

#sub4 {
  animation-delay: 0.3s;
}

#sub5 {
  animation-delay: 0.4s;
}

#sub6 {
  animation-delay: 0.5s;
}

#sub7 {
  animation-delay: 0.6s;
}

#sub8 {
  animation-delay: 0.7s;
}
